---
---
@charset "utf-8";

$text-color:            #303030;
$brand-color:           #9966cc;
$brand-color-link:      #8355b1;
$arrow-box-color:       #cecece;
$arrow-box-hover-color: #55acee;

@import "base", "quote", "author-info", "sticky-footer";

h3 {
	font-weight: bold;
}

blockquote p {
	font-size: 24px;
	border-left-color: #96c;
	border-left-width: 8px;
	border-left-style: solid;
	text-align: left;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}