---
layout: default
published: true
---
<div class="text-center grey">
  <div class="container">
    <h1>Our Blog</h1>
    <h3 class="blog-index-description">We care about what we create, as well as how we got there.<br /> Here's some of what inspires, perplexes, excites and motivates us.</h3>
    <ul id="filters">
      <li><span class="filter" data-filter="all">All</span></li>
      <li><span class="filter" data-filter=".innovation">Innovation</span></li>
      <li><span class="filter" data-filter=".technology">Technology</span></li>
      <li><span class="filter" data-filter=".entrepreneurship">Entrepreneurship</span></li>
      <li><span class="filter" data-filter=".ux">User Experience</span></li>
      <li><span class="filter" data-filter=".news">General News</span></li>
    </ul>

    <ul class="three-columns more-work" id="portfolio-list">
      {% for post in site.posts %}
      {% include index-post.html post=post include_mix=true%}
      {% endfor %}
    </ul>
  </div>
</div>

<div class="grey3" id="home-newsletter">
     <div class="container">
        <div class="subscribe-form">
           <link href="https://cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
           <h2>Like what you read?</h2>
           <p>Get our monthly collection of the most relevant news and ideas, handpicked to taste</p>
           <div id="mc_embed_signup">
              <form action="//enabled.us1.list-manage.com/subscribe/post?u=0ba17a794e3f1ecb4ab13e31c&amp;id=249f96aedf" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                 <div id="mc_embed_signup_scroll">
                    <div class="mc-field-group">
                       <div class="mc-input-holder">
                          <input type="email" value="" name="EMAIL" class="required email" placeholder="Email" id="mce-EMAIL">
                          &nbsp;
                          <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                       </div>
                       <div id="mce-responses">
                          <div class="response" id="mce-error-response" style="display:none"></div>
                          <div class="response" id="mce-success-response" style="display:none"></div>
                       </div>
                    </div>
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true">
                       <input type="text" name="b_0ba17a794e3f1ecb4ab13e31c_249f96aedf" tabindex="-1" value="">
                    </div>
                    <script type="text/javascript" src="https://s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js" defer></script>
                 </div>
              </form>
           </div>
        </div>
     </div>
  </div>

<script type="text/javascript">
  //save jQuery
  var tmp = jQuery.noConflict();
  //get jQuey for mailchimp, destroys jQuery
  var $mcj = jQuery.noConflict(true);
  //restore jQuery
  window.$ = tmp.noConflict();
</script>

<script>
  $(function () {
    var filter_value = 'all';
    var param = $.urlParam('category');
    if(param && param !== 'all'){
      filter_value = "."+param;
    }

    $('#portfolio-list').mixItUp({
      animation: {
        effects: 'fade' ,
        duration: 400
      },
      load: {
        filter: filter_value
      }
    });
  });
</script>
