<div id="footer">
  <div class="container">
    <div id="footer-logo">
        <a href="{{ site.url }}">
            <img src="{{site.baseurl}}/images/blog-logo.png" height="43" alt="enabled blog"/>
        </a>
    </div>
    <div id="footer-contactinfo">
        176 Wattle Street, Malvern SA 5061, Australia / <strong>Phone:</strong>+61 8 8272 6658
    </div>
    <div id="footer-buttons">
        <a href="https://twitter.com/EnabledHQ" class="footer-social footer-twitter" target="_blank">Twitter</a>
        <a href="https://plus.google.com/114229602705129044359/" class="footer-social footer-googleplus" target="_blank">Google Plus</a>
        <a href="https://www.linkedin.com/company/enabled-solutions" class="footer-social footer-linkedin" target="_blank">LinkedIn</a>
        <a href="https://dribbble.com/EnabledHQ" class="footer-social footer-dribbble" target="_blank">Dribbble</a>
        <a href="https://www.facebook.com/EnabledHQ/" class="footer-social footer-facebook" target="_blank">Facebook</a>
        <a href="https://www.instagram.com/enabledhq/" class="footer-social footer-instagram" target="_blank">Instagram</a>
        <a class="button-letschat btn" href="https://enabled.com.au/letschat">Let's Chat <span class="icon">&#8595;</span></a>
    </div>
</div>
