<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  {% feed_meta %}
  
  {% if page.meta-description %}
  <meta name="description" content="{{ page.meta-description | escape }}" />
  {% else %}
  <meta name="description" content="{{ site.description | escape }}" />
  {% endif %}

  {% if page.meta-keywords %}
   <meta name="keywords" content="{{page.meta-keywords | escape}}" />
  {% else %}
   <meta name="keywords" content="{{site.keywords | escape }}" />
  {% endif %}

<link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i|Roboto+Slab:100,300,400,700" rel="stylesheet">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">

  <!-- Sitewide styles -->
  <link href="https://enabled.com.au/css/enabled_style.css" rel="stylesheet" type="text/css">
  <link href="https://enabled.com.au/css/responsive.css" rel="stylesheet" type="text/css">

<!-- Blog styles -->
  <link href="/css/autumn.css" rel="stylesheet" type="text/css">
  <link href="/css/blog.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
  
  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/jquery.mixitup/latest/jquery.mixitup.min.js"></script>
  <script type="text/javascript" src="https://enabled.com.au/js/slick.min.js"></script>
  <script src="https://enabled.com.au/js/modernizr.custom.js"></script>
</head>

<body>
<!-- Start of Survicate (www.survicate.com) code -->
<script type="text/javascript">
 (function(w) {
   w._sv = w._sv || {};
   w._sv.trackingCode = '6b47f550d6aa02217fe4d6e9f26efaac'; 
   var s = document.createElement('script');
   s.src = '//api.survicate.com/assets/survicate.js';
   s.async = true;
   var e = document.getElementsByTagName('script')[0];
   e.parentNode.insertBefore(s, e);
 })(window);
</script>
<!-- End of Survicate code -->
</body>
