<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
    .subscribe-form {
        width: 1000px;
        max-width: 100%;
        margin: 0 auto;
        background-color: #E9EAF3;
        padding: 50px 0;
        text-align: center;
        font-family: 'Roboto Slab', serif;
    }

    .subscribe-form h2 {
        font-weight: 700;
        font-size: 40px;
    }

    .subscribe-form p {
        font-size: 20px;
        color: #aaacb9;
    }

    #mc_embed_signup .mc-field-group input#mce-EMAIL {
        width: 500px;
        max-width: 80%;
        padding: 25px;
        -moz-border-radius: 40px;
        -webkit-border-radius: 40px;
        border-radius: 40px;
        color: #c6c6c6;
        font-size: 22px;
        margin-bottom: 10px;
    }

    #mc_embed_signup .mc-field-group input {
        width: auto;
        display: inline-block;
    }

    #mc_embed_signup .mc-field-group input#mc-embedded-subscribe {
        width: auto;
        display: inline-block;
        background-color: #F41739;
        font-family: 'Roboto Slab', serif;
        height: 81px;
        padding: 25px;
        -moz-border-radius: 40px;
        -webkit-border-radius: 40px;
        border-radius: 40px;

        font-size: 22px;
    }

    #mc_embed_signup .mc-field-group input#mc-embedded-subscribe:hover {
        opacity: 0.8;
    }

    #mc_embed_signup .mc-field-group {
        clear: none;
        width: 100%;
        text-align: center;
        padding: 0;
    }
    .mc-input-holder {
        margin: 0 auto;
    }

    #mc_embed_signup div#mce-responses {
        float: none;
        padding: 0;
        
    }

    #mc_embed_signup div#mce-responses .response {
        float: none;
        display: inline-block;
        width: 500px;
        max-width: 90%;
        margin: 0 auto;
        padding: 5px 10px;
        background-color: rgba(255,255,255,0.85);
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        font-size: 14px;
        font-weight: normal;
        z-index: 1;
        background-color: #E9EAF3;
    }

    #mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {
        background-color: #E9EAF3;

    }

</style>

<div class="subscribe-form">
<h2>Like what you read?</h1>
<p>Get our monthly collection of the most relevant news and ideas, handpicked to taste</p>
<div id="mc_embed_signup">
    <form action="//enabled.us1.list-manage.com/subscribe/post?u=0ba17a794e3f1ecb4ab13e31c&amp;id=249f96aedf" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
            <div class="mc-field-group">
                <div class="mc-input-holder">
                    <input type="email" value="" name="EMAIL" class="required email" placeholder="Email" id="mce-EMAIL">
                    &nbsp;
                    <input type="submit" value="Sign me up" name="subscribe" id="mc-embedded-subscribe" class="button">
                </div>
                <div id="mce-responses">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                </div>
            </div>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
                <input type="text" name="b_0ba17a794e3f1ecb4ab13e31c_249f96aedf" tabindex="-1" value="">
            </div>
        </div>
    </form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
</div>
