article {
    max-width: 100%;
    width: 900px;

    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;

    font-family:  'Open Sans', sans-serif;
    font-style: normal;
    line-height: 2em;
    font-size: 20px;
}

article a {
    color: $brand-color;
}

article a:hover{
    color: $brand-color-link;
}

article img {
  max-width: 100%;
  display: block;
}

img.alignright{
    float: right;
	display: inline-block !important;
    margin: 0 0 1em 1em;
	width: auto;
}

img.alignleft{
    float: left;
	display: inline-block !important;
    margin: 0 1em 1em 0;
	width: auto;
}

img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
	width: auto;
}

h1, h3, h4, h5, h6 {
    font-family: 'Lato', serif;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 0;
    line-height: 1.3em;
    color: #565656
}

h1{
	font-size: 46px;
}

h2{
	font-family: 'Lato', serif;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	padding: 0;
	line-height: 1.5em;
	color: #565656
}

p{
	margin: 0 0 15px 0;
}

pre,
code {
    font-size: 15px;

    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;
    border: 1px solid #9b9b9b;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

/* Image caption style */
img + em {
    font-style: normal;
    font-size: 0.8em;
    font-family: 'lato', serif;
}

img.alignright + em{
    float: right;
	display: block !important;
    margin: 1em 0;
}

img.alignleft + em{
    float: left;
	display: block !important;
    margin:  margin: 1em 0;
}

img.aligncenter + em{
    display: block !important;
    margin-left: auto;
    margin-right: auto;
}


.content-container {
    padding: 15px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.spacer {
    display: inline;
    margin: 0;
    margin-left: 5px;
    margin-right: 5px;
}

.blog-index-description {
    font-family: 'Roboto Slab', serif;
    color: #9a9a9a;
    line-height: 130%;
}

a.btn {
    margin: 0 25px 15px 30px;
}

.clearfix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.post-content h2 {
    margin: 0.83em 0;
    font-size: 26px;
    color: #636363;
    font-family: 'lato', serif;
    font-weight: bold;
}

.post-content h2 + p {
    margin-top: 0.5em;
}

#content-holder {
    background-color: #fbfafa;
}

.text-red {
    color: #f6364d !important;
}

.post-content strong {
    color: #636363;
}

/* Related posts styles */
/* -------------------*/

.related-posts-container {
    padding-top: 20px;
    background-color: #FFF;
    width: 100%;
}
.related-posts {
    max-width: 100%;
    width: 1100px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.related-posts h2 {
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 30px;
}

.post-content::first-letter {
    color: $brand-color;
    font-weight: 400;

    font-size: 80px;
    float: left;
    margin-right: 10px;
    line-height: 90px;
	font-family: 'Roboto Slab', serif;
}

.related-posts ul.three-columns {
    margin: 0;
}

div.work-image {
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
}

div.work-text h4 {
    line-height: 30px;
    min-height: 70px;
}


div.work-postby {
    margin-top: 10px;
    display: inline-block;
    width: auto;
}

.work-text p {
    margin-top: 0;
    min-height: 112px;
}

/* Hero banner styles */
/* -------------------*/


.post-header-banner {
    min-height: 550px;
  	padding-bottom: 50px;
    background-color: #ffffff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    text-align: center;
    color: #FFF;
    font-family: 'Roboto Slab', serif;
}

.post-header-categories {
    margin-top: 70px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.post-header-categories a {
    color: #FFF;
}

.post-header-categories a:hover {
 color: $brand-color-link;
}

.post-header-categories hr {
    width: 70%;
    border-style: none;
    border-width: 0;
    border-bottom: 1px solid #FFF;
}
.post-header-title h1 {
    margin-top: 50px;
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #FFF;
}

.post-header-meta {
    font-family: 'Lato', serif;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

.post-header-read {
    margin-top: 40px;
    display: inline-block;
    height: 20px;
    padding: 13px;
    border-style: solid;
    border-color: #FFF;
    border-radius: 26px;
    border-width: 3px;
    color: #FFF;
}

.post-header-read i {
    margin-right: 6px;
}

.post-header-read:hover {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}


div.post-meta.work-postby {
    margin: 0;
    margin-top: 50px;
    width: auto;
}

.post-author-name {
    margin-top: 7px;
}

.post-time {
    margin-top: 7px;
}

.author-image {
    margin-top: 40px;
    display: inline-block;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: 0 0;
    border-radius: 50%;
}
