/* Styles related to inline quotes, block quotes, and non twitter quotes */

/* Block quote styles */
/* ------------------- */
blockquote p {
    font-size: 36px;
    font-style: italic;
    line-height: 140%;
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 0.5em;
}

blockquote {
    color: $brand-color;
    text-align: center;

    > :last-child {
        margin-bottom: 0;
    }
}

blockquote:before, blockquote:after {
    content: '';
}

.arrow_box {
	width: 16px;
	margin: 0 auto;
	position: relative;
	background: $arrow-box-color;
	border: 4px solid $arrow-box-color;
	border-radius: 2px;
	text-align: center;
	height: 16px;
	line-height: 10px;
	color: white;
	font-size: 16px;
}

.arrow_box:after, .arrow_box:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(206, 206, 206, 0);
	border-bottom-color: $arrow-box-color;
	border-width: 10px;
	margin-left: -10px;
}
.arrow_box:before {
	border-color: rgba(206, 206, 206, 0);
	border-bottom-color: $arrow-box-color;
	border-width: 6px;
	margin-left: -6px;
}

.quote-link {
	font-weight: 300;
}

.quote-link:hover p {
	color: $arrow-box-hover-color;
}

.quote-link:hover .arrow_box {
	color: white;
	background: $arrow-box-hover-color;
	border: 4px solid $arrow-box-hover-color;
}

.quote-link:hover .arrow_box:after {
	border-color: rgba(85, 172, 238, 0);
	border-bottom-color: $arrow-box-hover-color;
}

.quote-link:hover .arrow_box:before {
	border-color: rgba(85, 172, 238, 0);
	border-bottom-color: $arrow-box-hover-color;
}

/* Inline quote styles */
/* ------------------- */

.inline-quote-link {
	color: $text-color;
	font-weight: 300;
}

.inline-quote-text {
	border-bottom: 1px dotted $text-color;
}

.inline-quote:hover .inline-quote-text {
	border-bottom: 1px dotted $arrow-box-hover-color;
	color: $arrow-box-hover-color;
}

.inline-quote:hover .twitter-text-icon {
	background: url(/images/ic_inlinetweet_hover.svg);
	background-size: 20px 20px;
}

.twitter-inline-button {
    color: #FFF;
    cursor: pointer;
    font-size: 24px;
    text-align: center;
}

.twitter-text-icon {
	margin-left: 5px;
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(/images/ic_inlinetweet_normal.svg);
	background-size: 20px 20px;
}

/* Non twitter quote styles */
/* ------------------- */

.non-twitter-quote {
	padding: 10px 25px;
    margin: 35px 20px;
    color: #b1b1b1;
    border-left: 10px solid #9966cc;
    line-height: 1.8em;
    font-size: 18px;
    font-weight: 300;
}

.non-twitter-quote em{
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 400;
	font-style: italic;
	display: block;
	margin: 10px 0;
	color: #636363;
}
