<!DOCTYPE html>
<html>

{% include head.html %}

<body>
    <div id="wrapper">
        {% include header.html %}

        <div id="content-holder">
            {{ content }}
        </div>

        {% include footer.html %}
    </div>
 
  <!-- Start of Survicate (www.survicate.com) code -->
<script type="text/javascript">
 (function(w) {
   w._sv = w._sv || {};
   w._sv.trackingCode = '6b47f550d6aa02217fe4d6e9f26efaac'; 
   var s = document.createElement('script');
   s.src = '//api.survicate.com/assets/survicate.js';
   s.async = true;
   var e = document.getElementsByTagName('script')[0];
   e.parentNode.insertBefore(s, e);
 })(window);
</script>
<!-- End of Survicate code -->
  
</body> 

{% include footer-scripts.html %}

</html>
